<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.cfpt_XamarinSwitchScreen">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />
    <application android:label="cfpt_XamarinSwitchScreen.Android" />
</manifest>
